.title{
    margin-bottom: 20px;
    text-align:center;
    background-color: rgb(0, 102, 139);
    width: 210px;
    height: 25px;
    color:rgb(255, 254, 254);
    border: solid black 2px;
    }

input[type="button"]
    {
    background-color:rgb(0, 102, 139);
    color: white;
    border: solid black 2px;
    width:100%
    }

input[type="text"]
    {
    background-color:rgb(127, 215, 247);
    border: solid black 2px;
    width:100%
    }
